<%- layout("/layouts/boilerplate")%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <br>
            <h1>Creating New List</h1>
            <form method="post" action="/listing/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3"> 
                    <label for="title" class="form-label">Title</label>
                    <input to="title" name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea to="description" name="listing[description]"  type="text" class="form-control"  required><%= listing.description %></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Original Listing Image</label><br>
                    <img src="<%= originalImage%>" alt="">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input to="image" name="listing[image][url]"   type="file" class="form-control"  required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input to="price" name="listing[price]" value="<%= listing.price %>"  type="number" class="form-control"  required>
                    </div>  
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">country</label>
                        <input to="country" name="listing[location][country]" value="<%= listing.location.country %>"  type="text" class="form-control"  required>
                    </div>   
                </div>
                <div class="mb-3 col-md-6">
                        <label for="city" class="form-label">City</label>
                        <input id="city" name="listing[location][city]" value="<%=listing.location.city%>"  type="text" class="form-control"  required>
                        <div class="invalid-feedback">city should be valid</div>
                    </div> 

                    <div class="mb-3 col-md-6">
                        <label for="state" class="form-label">State</label>
                        <input id="state" name="listing[location][state]" value="<%=listing.location.state%>"type="text" class="form-control"  required >
                        <div class="invalid-feedback">state should be valid</div>
                    </div>   
                </div>

                <button class="btn btn-dark edit-btn mt-3">Edit</button>
            </form>
            <br><br>
        </div>
    </div>
</body>